body
{
    text-align: center;
    background-color: blueviolet;
    
}
Div
{
    text-align: left;

}
nav div
{
background-color: mediumpurple;
width: 100%;
height:100%;
text-align: left;

}
div
{
    background-color: #D8BFD8;
    width: 100%;
    height: 150%;
    border:solid mediumorchid ;
}
/*____________MAQUETADO_2_____________________*/
